<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>447</TotalTime><Application>LibreOffice/25.8.4.2$Linux_X86_64 LibreOffice_project/580$Build-2</Application><AppVersion>15.0000</AppVersion><Words>80</Words><Paragraphs>42</Paragraphs></Properties>